doctype
html( lang="en" )
	head
		script(src='/javascripts/receive.js', type='text/javascript')
	body
		#container
			#audio
				div
					.label Receiving this remote audio:
					audio#audio2(autoplay='', controls='')
