doctype
html( lang="en" )
	head
		script(src='/javascripts/transmit.js', type='text/javascript')
	body
		#container
			#audio
				div
					.label Transmitting this local audio:
					audio#audio2(autoplay='', controls='')
